---
import Container from '@components/Container.astro'
import Sponsors from '@components/Sponsors.astro'
import Table from '@components/Table.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout title='Kings League Infojobs'>
  <main>
    <section class='bg-principal py-20'>
      <Container>
        <div class='grid grid-cols-4 lg:grid-cols-8 gap-10 w-full px-4 md:px-8'>
          <div class='col-span-4 xl:col-span-3 flex flex-col gap-y-10'>
            <Table />
          </div>
          <div class='col-span-4 lg:col-span-4 xl:col-span-5 mt-[20px] lg:mt-0'>
          </div>
        </div>
      </Container>
    </section>
    <Sponsors />
  </main>
</Layout>
