---
import { findLeaderboardByTeamId } from '@services/leaderboard'

const { teamId } = Astro.props
const {
  rank,
  wins,
  losses,
  concededGoals,
  yellowCards,
  redCards,
  scoredGoals
} = await findLeaderboardByTeamId({ teamId })
const stasts = [
  {
    title: 'Posición',
    value: rank
  },
  {
    title: 'Victorias',
    value: wins
  },
  {
    title: 'Derrotas',
    value: losses
  },
  {
    title: 'A favor',
    value: scoredGoals
  },
  {
    title: 'En contra',
    value: concededGoals
  },
  {
    title: 'Amarillas',
    value: yellowCards
  },
  {
    title: 'Rojas',
    value: redCards
  }
]
---

<div class='flex justify-center md:justify-start md:m-0 m-auto'>
  <section
    class='p-5 rounded-lg mt-5 grid grid-cols-3 gap-y-2 gap-x-2 md:gap-x-12 bg-gradient-to-tr from-[#202020c9] via-[#36363685] to-[#cd55002a] shadow-xl'
  >
    {
      stasts.map(({ title, value }) => (
        <div class='cols-span-1 flex flex-col items-start justify-between'>
          <h4 class='text-yellow-400 uppercase font-bold font-title'>
            {title}
          </h4>
          <strong class='text-6xl font-title text-white font-bold'>
            {value}
          </strong>
        </div>
      ))
    }
  </section>
</div>
