---
import { findLeaderboardByTeamId } from '@services/leaderboard'

const { teamId } = Astro.props
const {
  rank,
  wins,
  losses,
  concededGoals,
  yellowCards,
  redCards,
  scoredGoals
} = await findLeaderboardByTeamId({ teamId })
const stasts = [
  {
    title: 'Posición',
    value: rank
  },
  {
    title: 'Victorias',
    value: wins
  },
  {
    title: 'Derrotas',
    value: losses
  },
  {
    title: 'A favor',
    value: scoredGoals
  },
  {
    title: 'En contra',
    value: concededGoals
  },
  {
    title: 'T. Amarillas',
    value: yellowCards
  },
  {
    title: 'T. Rojas',
    value: redCards
  }
]
---

<section class='bg-black p-4 gap-x-4 rounded grid grid-cols-3'>
  {
    stasts.map(({ title, value }) => (
      <div class='cols-span-1 flex flex-col items-start justify-between'>
        <h4 class='text-yellow-400 uppercase font-bold font-title'>{title}</h4>
        <strong class='text-6xl font-title text-white font-bold'>
          {value}
        </strong>
      </div>
    ))
  }
</section>
