---
import Container from '@components/Container.astro'
import SectionTitle from '@components/SectionTitle.astro'
import Layout from '@layouts/Layout.astro'
import TeamsSeclectorCards from '@components/TeamsSeclectorCards.astro'
---

<Layout title='Equipos'>
  <SectionTitle title='Equipos' />
  <Container>
    <div class='bg-white p-20 shadow-xl rounded -mt-10'>
      <TeamsSeclectorCards />
    </div>
  </Container>
</Layout>
